[
    {
        "modbusAddr": "1",
        "meterId": "PavCivil",
        "PollingTime(microsec.)": "---"
    },	
    {
        "modbusAddr": "2",
        "meterId": "PavQuimica",
        "PollingTime(microsec.)": "1000"
    },
    {
        "modbusAddr": "3",
        "meterId": "PavFisica",
        "PollingTime(microsec.)": "---"
    }
]