[
    {
        "modbusAddr": "1",
        "meterId": "PavCivil",
        "PollingTime(microsec.)": "10000"
    },	
    {
        "modbusAddr": "2",
        "meterId": "PavQuimica",
        "PollingTime(microsec.)": "30000"
    },
    {
        "modbusAddr": "3",
        "meterId": "PavFisica",
        "PollingTime(microsec.)": "60000"
    }
]